@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <figure class="text-center">
        <blockquote class="blockquote">
            <p>“O ser humano é aquilo que a educação faz dele.”</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            Filósofo alemão <cite title="Source Title">Immanuel Kant</cite>
        </figcaption>
    </figure>
</div>
