<main>
    <form>
        <label for="nomealunos">Nome</label> <br />
        <input type="text" id="nomealunos" class="input-padrao" required> <br />

        <label for="idade">Idade</label> <br />
        <input type="text" id="idade" class="input-padrao" required> <br />

        <label for="email">Email</label> <br />
        <input type="email" id="email" class="input-padrao" required placeholder="seunome@dominio.com"> <br />

        <label for="telefone"> telefone</label> <br />
        <input type="tel" id="telefone" class="input-padrao" required placeholder="(00)00000-0000"> <br />

        <label for="mensagem">CEP</label> <br />
        <input type="text" id="endereco-cep" class="input-padrao" required placeholder="000000-00"> <br /> <br />

        <input type="submit" value="Enviar formulário" class="enviar"> <br />

    </form>


</main>